*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right, #15053b, #94081bf5);
    margin-top: 17px;
}

h1{
    font-size: 1em;
}

h2{
    font-size: 1em;
}
 
h3{
    font-size: 0.7em;
    color: #22053a;
}

#aven-background{
    width: 100%;
}

.logo{
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.container{
    background-color: #0e325c;
    margin: 0px 5px;
}

.corpo-personagens{
    padding: 20px 0 20px 0;
}

.tabs .corpo-personagens{
    display: none;
}

.tabs .corpo-personagens:target,
.tabs:checked .corpo-personagens:target{
    display: block;
    animation: animeDown .7s ease-in-out .4s backwards;
    
}




.personagem{
    list-style: none;
    text-align: center;
    border: 1px solid #000;
    border-radius: 52px;
    margin: 15px 120px;
}

.personagem > a{
    color: #e06c0d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    display: block;
    margin: 15px auto;
}

.card-personagem{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: fit-content;
}

#wd{
    background-image: linear-gradient(to right, #922525, #470505);
   
}

.persona{
    text-align: center;
    padding: 10px;
    border-radius: 45px;
    margin: 15px;
}

.persona > h1{
    color: #e06c0d;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6em;
    text-transform: uppercase;
    display: block;
}

.ator{
    text-align: center;
    padding: 10px;
    border-radius: 45px;
    margin: 15px auto;
}

.ator > h2{
    color: #e06c0d ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    display: block;
}

.sobre{
    margin: 0 auto 20px auto;
    border-radius: 45px;
    padding: 40px;
}

.sobre > p {
    color: #e06c0d ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3em;
    padding-bottom: 8px;
}

.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background:#e06c0d ;
    border-radius: 50%;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
}

@media (min-width: 768px) {
    .nav-lista {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .personagem {
        flex: 1 1 300px;
        margin: 10px 15px;
    }
    
    .personagem > a {
        margin: 15px;
    }

    .container-flex {
        display: flex;
        flex-flow: row wrap;
    }

    .card-personagem {
        align-self: center;
    }

    .container-flex-son {
        display: flex;
        flex-flow: row wrap;
    }

    .persona {
        flex: 2 1 auto;
        padding: 10px;
    }

    .ator {
        flex: 1 1 auto;
        width: auto;
        padding: 10px;
        margin: 15px;
    }

    .sobre {
        padding: 30px;
    }
}

@media (min-width: 992px) {
    #logo {
        transition: .5s;
    }

    #logo:hover {
        transform: scale(1.1, 1.1);
        transition: .5s;
    }

    .personagem {
        flex: 1 1 250px;
        margin: 10px;

      
        transform: translate(0, 0);
        overflow: hidden;
    }
    
    .personagem:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: -1;
        transform-origin: bottom left;
        transform: rotate(-90deg);
        transition: 0.5s;
    }
    
    .personagem:hover:before {
        transform: rotate(0deg);
    }
   

    .personagem > a {
        margin: 10px;
    }

    .personagem > a:hover {
        transform: scale(1.1, 1.1);
        transition: .5s;
    }

    .container-flex {
        display: flex;
        flex-flow: row nowrap;
    }

    .card-personagem {
        margin: 15px;
    }


    .card-img {
        filter: grayscale(1) contrast(6);
        transition: .5s;
        border: 3px solid #ff7e00;
    }

    .card-img:hover {
        filter: grayscale(0) contrast(1);
        transition: .5s;
    }
  

    .persona, .ator {
        flex-grow: 0;
        margin: 0 auto 20px auto;
        padding: 20px;
    }
}

@media (min-width: 1200px) {
    #main-background {
        border: 8px solid #000;
    }

    .container {
        display: flex;
    }

    .corpo-personagens {
        margin: 60px 0 60px 0;
    }

    .personagem {
        flex: 1 1 100px;
        margin: 15px 25px;
    }
    
    .personagem > a {
        margin: 5px;
    }

    .flex-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-personagem {
        padding: 0;
    }

    .container-flex-son {
        flex-flow: column wrap;
        padding-top: 25px;
        align-content: center;
    }

    .sobre {
        width: fit-content;
        margin: 0 20px;
    }

    .gotopbtn {
        display: none;
    }
}


.rodape {
    margin: 20px auto;
}

 .social {
    margin: 0 auto;
    text-align: center;
}

.social li {
    display: inline-block;
    margin-left: 10px;
}

.social a {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
}

.social a:hover {
    transition: .5s;
    transform: scale(1.1,1.1);
}

.social a[href*="instagram.com"] {
    background-image: url(imagem/instagram.png);
}

.social a[href*="youtube.com"] {
	background-image: url(imagem/YouTube.png);
}

#direitos {
    margin: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Exo 2', 'Raleway', sans-serif;
}

#direitos a {
    color: #ff7e00;
}



/*
footer{
   
    color: #babd11;
    text-align: center;
    font-size: 0.8em;
    padding: 3px;
}

footer > a {
    width: 32px;
    height: 32px;
    color: #babd11;
    background-repeat: no-repeat;
    font-weight: bolder;
    text-decoration: none;
    text-indent: -9999px;
}

footer a:hover{
    text-decoration: underline;
    color: #1e4faa;
}
*/




